body{
    font-family: 'IBM Plex Serif', serif;
    background-color: #C7E4F2;
}

h1{
    font-size: 28px;
    font-weight: 100;
    line-height: 28px;
    margin-top: 0;
}
a{
    text-decoration: none;
    cursor: default;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    color: #000;
    opacity: 0.6;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 100;
    line-height: 19px;
    
}

small{
    padding: 0;
}

.weather-app{
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
}

.weather-app-wrapper{
    max-width: 600px;
    margin: 30px auto;
}

.overview{
    margin-bottom: 15px;
}

.weather-temperature img{
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong{
    color: rgb(33, 33, 33);
    line-height: 1;
    font-size: 64px;
    font-weight: 400;
}

.weather-temperature .units{
    position: relative;
    font-size: 16px;
    top: -35px;
}

.humidity-icon, .wind-icon{
    font-size: small;
    color: rgb(33, 33, 33);
}

.weather-temperature .active{
    color: rgb(33, 33, 33);

}

.weather-forecast{
    margin-top: 20px;
    text-align: center;
    color: #000;
}
.weather-forecast-date{
    font-size: 16px;
    opacity: 0.7;
}
.temperature-min{
    opacity: 0.5;
}
.weather-forecast-temperature{
    font-size: 13px;
}
#city-input{

    background-color: #E4EAEE;
    border: 1px solid #dadde1;
    border-radius: 3px;
}

#submit-button{
    margin-left: 2px;
    background-color: #C7E4F2;
    border: 1px solid #dadde1;
    border-radius: 3px;
}